node_modules
.DS_Store

.vscode

dist
**/reactstrap/**
!**/stories/reactstrap/**

*.lock
*lock.json

packages/gds-components/cjs
packages/gds-components/es

packages/gds-charts/cjs
packages/gds-charts/es

packages/gds-icons/lib
